<div class="panel panel-default">
<div class = "center" align = "center"><h3> UML Parser Output</h3></div>
<div class = "center" align="center">
	<img ng-src="{{image}}">
</div>
<div class = "center" align = "center">
	<h3 ng-show="allowGrading"> Enter Grades for {{tenant.tenant_name}}</h3>
	<jk-rating-stars max-rating="10" rating="0" read-only="false" on-rating="onRating(rating)" >
	</jk-rating-stars>
	<div ng-show="grade">
		<h3> Graded {{tenant.tenant_name}} As : {{grade}}</h3>
	</div>
</div>