<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <div class = "row">
        <div class="col-md-3">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href ng-click="$ctrl.setState('login')">
            <img src="assets/images/cloud1.png" />
          </a>
        </div>
        <div class="col-md-9">
        <h1>
           <div class="pull-right">UML Parser Grader Login</div>
        </h1>
        </div>
        </div>
      </div>
      </div>
  </nav>
</div>