<div>
  <div class="panel panel-default">
      <div class = "row">
        <div class="col-md-4">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href ng-click="$ctrl.setState('login')">
            <img src="assets/images/cloud.jpg" />
          </a>
        </div>
        <div class="col-md-7">
           <div class="pull-center"> <h1> {{headerText}} </h1></div>
        </div>
        <div class="col-md-1">
           <a href="$state.go('login')"> <b><u>Logout </b></u></a>
        </div>
       </div>
  </nav>
</div>

<!-- <div class="container-fluid">
  <div class="row">
  <div class="col-md-4">
    <a href ng-click="$ctrl.setState('login')">
      <img src="assets/images/cloud1.png" />
    </a>
  </div>
  <div class="col-md-8">
    <h1>
      <div class="pull-center"> {{headerText}} </div>
    </h1>
  </div>  
  </div>
</div> -->