<div>
  <h1>Order page</h1>
  <form class="form-horizontal">
    <fieldset>
      <legend>Starbucks Order</legend>

      <div class="form-group">
        <label class="col-md-4 control-label">Beverage</label>
        <div class="col-md-4">
          <select ng-model="$ctrl.item.name">
            <option class="placeholder" selected disabled value="">Select Beverage</option>
            <option value="Caffe Latte">Caffe Latte</option>
            <option value="Chai Latte">Chai Latte</option>
            <option value="Capuccino">Capuccino</option>
            <option value="Mocha">Mocha</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Quantity</label>  
        <div class="col-md-4">
          <input name="qty" type="text" class="form-control input-md" ng-model="$ctrl.item.qty">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Milk</label>
        <div class="col-md-4">
          <select ng-model="$ctrl.item.milk">
            <option class="placeholder" selected disabled value="">Select Milk</option>
            <option value="Whole Milk">Whole Milk</option>
            <option value="Half and Half">Half and Half</option>
            <option value="Organic">Organic</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Size</label>
        <div class="col-md-4">
          <select ng-model="$ctrl.item.size">
            <option class="placeholder" selected disabled value="">Select Size</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>    
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-primary" ng-click="$ctrl.addToBag()">Add To Bag</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>